/*
  Icon Font: ecicon
*/

@font-face {
  font-family: "ecicon";
  src: url("../fonts/ecicon.eot");
  src: url("../fonts/ecicon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ecicon.woff2") format("woff2"),
       url("../fonts/ecicon.woff") format("woff"),
       url("../fonts/ecicon.ttf") format("truetype"),
       url("../fonts/ecicon.svg#ecicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "ecicon";
    src: url("../fonts/ecicon.svg#ecicon") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.ec-accessory:before,
.ec-address-book:before,
.ec-address-book-o:before,
.ec-adjust:before,
.ec-aim:before,
.ec-alarmclock:before,
.ec-align-right:before,
.ec-alipay-square:before,
.ec-angle-double-down:before,
.ec-angle-double-up:before,
.ec-angle-down:before,
.ec-angle-up:before,
.ec-angle-up-end:before,
.ec-archive:before,
.ec-array:before,
.ec-array-o:before,
.ec-arrow-left:before,
.ec-arrow-right:before,
.ec-authentication:before,
.ec-authentication-o:before,
.ec-backward:before,
.ec-backward-o:before,
.ec-bag:before,
.ec-bag-o:before,
.ec-bars:before,
.ec-bell:before,
.ec-bell-o:before,
.ec-blocks:before,
.ec-blocks-o:before,
.ec-book:before,
.ec-book-o:before,
.ec-books:before,
.ec-books-o:before,
.ec-box:before,
.ec-box-check:before,
.ec-box-check-o:before,
.ec-box-o:before,
.ec-building:before,
.ec-building-o:before,
.ec-bulb:before,
.ec-bulb-o:before,
.ec-buoy:before,
.ec-calendar:before,
.ec-calendar-line:before,
.ec-calendar-line-o:before,
.ec-calendar-o:before,
.ec-calender:before,
.ec-calender-o:before,
.ec-camera:before,
.ec-camera-o:before,
.ec-cancel:before,
.ec-cancel-circle:before,
.ec-cancel-circle-o:before,
.ec-car:before,
.ec-car-o:before,
.ec-card:before,
.ec-card-o:before,
.ec-cart:before,
.ec-cart-o:before,
.ec-chart:before,
.ec-chart-bar:before,
.ec-chart-line:before,
.ec-chart-o:before,
.ec-chart-pie:before,
.ec-check-circle:before,
.ec-check-circle-o:before,
.ec-checked:before,
.ec-circle-circle:before,
.ec-clock-o:before,
.ec-cloud:before,
.ec-cloud-o:before,
.ec-coat:before,
.ec-code:before,
.ec-coffee-cup:before,
.ec-coffee-cup-o:before,
.ec-comment:before,
.ec-compass:before,
.ec-compass-o:before,
.ec-compress:before,
.ec-contrast:before,
.ec-copy:before,
.ec-copy-o:before,
.ec-countdown:before,
.ec-crown:before,
.ec-cry:before,
.ec-cup:before,
.ec-cup-o:before,
.ec-database:before,
.ec-delete:before,
.ec-details:before,
.ec-details-circle:before,
.ec-details-circle-o:before,
.ec-details-o:before,
.ec-dialog:before,
.ec-dialog-o:before,
.ec-diamond:before,
.ec-disk:before,
.ec-disk-o:before,
.ec-doctoral-cap:before,
.ec-doctoral-cap-o:before,
.ec-donate:before,
.ec-download:before,
.ec-download-cloud:before,
.ec-drink:before,
.ec-electro-mbile:before,
.ec-electrombile:before,
.ec-email:before,
.ec-email-o:before,
.ec-enlarge:before,
.ec-exchange:before,
.ec-exchange-guard:before,
.ec-exchange-guard-o:before,
.ec-expand:before,
.ec-eye-close:before,
.ec-eye-o:before,
.ec-female:before,
.ec-fire:before,
.ec-fire-o:before,
.ec-flag:before,
.ec-flag-o:before,
.ec-flower:before,
.ec-folder:before,
.ec-folder-o:before,
.ec-footprint:before,
.ec-footprints:before,
.ec-form:before,
.ec-form-o:before,
.ec-forward:before,
.ec-forward-o:before,
.ec-full-screen:before,
.ec-gallery:before,
.ec-gallery-o:before,
.ec-game:before,
.ec-gear:before,
.ec-gear-o:before,
.ec-gear-s:before,
.ec-gear-s-o:before,
.ec-gift:before,
.ec-gift-box:before,
.ec-gift-box-o:before,
.ec-gift-card:before,
.ec-gift-o:before,
.ec-glasses:before,
.ec-glasses-legs:before,
.ec-glasses-legs-o:before,
.ec-glasses-o:before,
.ec-globe:before,
.ec-globe-o:before,
.ec-group:before,
.ec-guard:before,
.ec-guard-o:before,
.ec-hand-bag:before,
.ec-hard-disk:before,
.ec-headset:before,
.ec-headset-o:before,
.ec-heart:before,
.ec-heart-o:before,
.ec-history:before,
.ec-home:before,
.ec-home-o:before,
.ec-html:before,
.ec-image:before,
.ec-integral:before,
.ec-integral-o:before,
.ec-key:before,
.ec-knot:before,
.ec-label:before,
.ec-label-o:before,
.ec-lbs:before,
.ec-lbs-o:before,
.ec-lightning:before,
.ec-lightning-o:before,
.ec-like:before,
.ec-like-o:before,
.ec-list:before,
.ec-list-o:before,
.ec-list-ul:before,
.ec-live:before,
.ec-live-o:before,
.ec-location-arrow:before,
.ec-location-arrow-o:before,
.ec-lock:before,
.ec-lock-o:before,
.ec-male:before,
.ec-manage:before,
.ec-manage-o:before,
.ec-map:before,
.ec-map-o:before,
.ec-medal:before,
.ec-medal-o:before,
.ec-medical-kit:before,
.ec-medical-kit-o:before,
.ec-member:before,
.ec-member-o:before,
.ec-message:before,
.ec-message-o:before,
.ec-microphone:before,
.ec-microphone-o:before,
.ec-minus:before,
.ec-minus-circle:before,
.ec-minus-circle-o:before,
.ec-molecule:before,
.ec-molecule-o:before,
.ec-money-circle:before,
.ec-money-circle-o:before,
.ec-money-guard:before,
.ec-money-guard-o:before,
.ec-moon:before,
.ec-mouse:before,
.ec-movie:before,
.ec-movie-o:before,
.ec-music:before,
.ec-music-o:before,
.ec-news:before,
.ec-news-o:before,
.ec-organization:before,
.ec-organization-o:before,
.ec-packet:before,
.ec-packet-o:before,
.ec-pant:before,
.ec-pant-o:before,
.ec-paper:before,
.ec-paper-o:before,
.ec-partake:before,
.ec-partake-o:before,
.ec-password:before,
.ec-password-o:before,
.ec-pause:before,
.ec-pause-o:before,
.ec-pencil:before,
.ec-pencil-o:before,
.ec-phone:before,
.ec-phone-o:before,
.ec-pile:before,
.ec-pill:before,
.ec-plan:before,
.ec-play:before,
.ec-play-o:before,
.ec-plus:before,
.ec-plus-circle:before,
.ec-plus-circle-o:before,
.ec-points-h:before,
.ec-points-v:before,
.ec-polyline:before,
.ec-polyline-o:before,
.ec-power-off:before,
.ec-printer:before,
.ec-printer-empty:before,
.ec-progress:before,
.ec-progress-o:before,
.ec-purchase:before,
.ec-push:before,
.ec-qrcode:before,
.ec-qrcode-o:before,
.ec-rain:before,
.ec-rain-o:before,
.ec-rank:before,
.ec-rank-o:before,
.ec-recharge:before,
.ec-recharge-circle:before,
.ec-recharge-circle-o:before,
.ec-recharge-o:before,
.ec-restore:before,
.ec-resycle:before,
.ec-ring:before,
.ec-ring-o:before,
.ec-rss:before,
.ec-scan:before,
.ec-screen:before,
.ec-screen-o:before,
.ec-search:before,
.ec-search-o:before,
.ec-seckill:before,
.ec-send:before,
.ec-send-o:before,
.ec-service:before,
.ec-service-1:before,
.ec-service-ring:before,
.ec-setting:before,
.ec-setting-o:before,
.ec-share:before,
.ec-shoe-high-heeled:before,
.ec-shoe-high-heeled-o:before,
.ec-shoe-sport:before,
.ec-shoe-sport-o:before,
.ec-shopping-bag:before,
.ec-shopping-bag-o:before,
.ec-shopping-bucket:before,
.ec-shopping-bucket-o:before,
.ec-shot-glass:before,
.ec-shot-glass-o:before,
.ec-shrink:before,
.ec-skirt:before,
.ec-skirt-o:before,
.ec-smile:before,
.ec-sofa:before,
.ec-sofa-o:before,
.ec-sound:before,
.ec-sound-o:before,
.ec-specie:before,
.ec-stack:before,
.ec-star:before,
.ec-star-o:before,
.ec-statistics:before,
.ec-statistics-o:before,
.ec-store:before,
.ec-store-o:before,
.ec-subway:before,
.ec-sun:before,
.ec-sun-o:before,
.ec-t-shirt:before,
.ec-t-shirt-o:before,
.ec-tableware:before,
.ec-tailor:before,
.ec-task:before,
.ec-task-o:before,
.ec-telephone:before,
.ec-telephone-o:before,
.ec-text-square:before,
.ec-th:before,
.ec-th-o:before,
.ec-ticket:before,
.ec-ticket-o:before,
.ec-tie:before,
.ec-tie-o:before,
.ec-time:before,
.ec-time-active:before,
.ec-time-o:before,
.ec-times-circle-o:before,
.ec-translation:before,
.ec-trash:before,
.ec-trash-o:before,
.ec-treasure:before,
.ec-trophy:before,
.ec-trophy-o:before,
.ec-trunk:before,
.ec-trunk-o:before,
.ec-umbrella:before,
.ec-umbrella-o:before,
.ec-undo:before,
.ec-upload:before,
.ec-upload-cloud:before,
.ec-uploading:before,
.ec-user:before,
.ec-user-2:before,
.ec-user-active:before,
.ec-user-add:before,
.ec-user-check:before,
.ec-user-circle:before,
.ec-user-circle-o:before,
.ec-user-o:before,
.ec-vehicle:before,
.ec-video:before,
.ec-video-camera:before,
.ec-video-camera-o:before,
.ec-video-o:before,
.ec-voice:before,
.ec-voice-tube:before,
.ec-volume-off:before,
.ec-volume-off-o:before,
.ec-volume-up:before,
.ec-volume-up-o:before,
.ec-wallet:before,
.ec-wallet-o:before,
.ec-warning:before,
.ec-warning-o:before,
.ec-water-drop:before,
.ec-water-drop-o:before,
.ec-weather:before,
.ec-wechat:before,
.ec-wechat-pay:before,
.ec-weibo:before,
.ec-weixin:before,
.ec-wifi:before,
.ec-wind:before,
.ec-window:before,
.ec-window-o:before,
.ec-wine-glass:before,
.ec-wine-glass-o:before,
.ec-workbench:before,
.ec-workbench-o:before,
.ec-zhilacloud:before {
  display: inline-block;
  font-family: "ecicon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.ec-accessory:before { content: "\f100"; }
.ec-address-book:before { content: "\f101"; }
.ec-address-book-o:before { content: "\f102"; }
.ec-adjust:before { content: "\f103"; }
.ec-aim:before { content: "\f104"; }
.ec-alarmclock:before { content: "\f105"; }
.ec-align-right:before { content: "\f106"; }
.ec-alipay-square:before { content: "\f107"; }
.ec-angle-double-down:before { content: "\f108"; }
.ec-angle-double-up:before { content: "\f109"; }
.ec-angle-down:before { content: "\f10a"; }
.ec-angle-up:before { content: "\f10b"; }
.ec-angle-up-end:before { content: "\f10c"; }
.ec-archive:before { content: "\f10d"; }
.ec-array:before { content: "\f10e"; }
.ec-array-o:before { content: "\f10f"; }
.ec-arrow-left:before { content: "\f110"; }
.ec-arrow-right:before { content: "\f111"; }
.ec-authentication:before { content: "\f112"; }
.ec-authentication-o:before { content: "\f113"; }
.ec-backward:before { content: "\f114"; }
.ec-backward-o:before { content: "\f115"; }
.ec-bag:before { content: "\f116"; }
.ec-bag-o:before { content: "\f117"; }
.ec-bars:before { content: "\f118"; }
.ec-bell:before { content: "\f119"; }
.ec-bell-o:before { content: "\f11a"; }
.ec-blocks:before { content: "\f11b"; }
.ec-blocks-o:before { content: "\f11c"; }
.ec-book:before { content: "\f11d"; }
.ec-book-o:before { content: "\f11e"; }
.ec-books:before { content: "\f11f"; }
.ec-books-o:before { content: "\f120"; }
.ec-box:before { content: "\f121"; }
.ec-box-check:before { content: "\f122"; }
.ec-box-check-o:before { content: "\f123"; }
.ec-box-o:before { content: "\f124"; }
.ec-building:before { content: "\f125"; }
.ec-building-o:before { content: "\f126"; }
.ec-bulb:before { content: "\f127"; }
.ec-bulb-o:before { content: "\f128"; }
.ec-buoy:before { content: "\f129"; }
.ec-calendar:before { content: "\f12a"; }
.ec-calendar-line:before { content: "\f12b"; }
.ec-calendar-line-o:before { content: "\f12c"; }
.ec-calendar-o:before { content: "\f12d"; }
.ec-calender:before { content: "\f12e"; }
.ec-calender-o:before { content: "\f12f"; }
.ec-camera:before { content: "\f130"; }
.ec-camera-o:before { content: "\f131"; }
.ec-cancel:before { content: "\f132"; }
.ec-cancel-circle:before { content: "\f133"; }
.ec-cancel-circle-o:before { content: "\f134"; }
.ec-car:before { content: "\f135"; }
.ec-car-o:before { content: "\f136"; }
.ec-card:before { content: "\f137"; }
.ec-card-o:before { content: "\f138"; }
.ec-cart:before { content: "\f139"; }
.ec-cart-o:before { content: "\f13a"; }
.ec-chart:before { content: "\f13b"; }
.ec-chart-bar:before { content: "\f13c"; }
.ec-chart-line:before { content: "\f13d"; }
.ec-chart-o:before { content: "\f13e"; }
.ec-chart-pie:before { content: "\f13f"; }
.ec-check-circle:before { content: "\f140"; }
.ec-check-circle-o:before { content: "\f141"; }
.ec-checked:before { content: "\f142"; }
.ec-circle-circle:before { content: "\f143"; }
.ec-clock-o:before { content: "\f144"; }
.ec-cloud:before { content: "\f145"; }
.ec-cloud-o:before { content: "\f146"; }
.ec-coat:before { content: "\f147"; }
.ec-code:before { content: "\f148"; }
.ec-coffee-cup:before { content: "\f149"; }
.ec-coffee-cup-o:before { content: "\f14a"; }
.ec-comment:before { content: "\f14b"; }
.ec-compass:before { content: "\f14c"; }
.ec-compass-o:before { content: "\f14d"; }
.ec-compress:before { content: "\f14e"; }
.ec-contrast:before { content: "\f14f"; }
.ec-copy:before { content: "\f150"; }
.ec-copy-o:before { content: "\f151"; }
.ec-countdown:before { content: "\f152"; }
.ec-crown:before { content: "\f153"; }
.ec-cry:before { content: "\f154"; }
.ec-cup:before { content: "\f155"; }
.ec-cup-o:before { content: "\f156"; }
.ec-database:before { content: "\f157"; }
.ec-delete:before { content: "\f158"; }
.ec-details:before { content: "\f159"; }
.ec-details-circle:before { content: "\f15a"; }
.ec-details-circle-o:before { content: "\f15b"; }
.ec-details-o:before { content: "\f15c"; }
.ec-dialog:before { content: "\f15d"; }
.ec-dialog-o:before { content: "\f15e"; }
.ec-diamond:before { content: "\f15f"; }
.ec-disk:before { content: "\f160"; }
.ec-disk-o:before { content: "\f161"; }
.ec-doctoral-cap:before { content: "\f162"; }
.ec-doctoral-cap-o:before { content: "\f163"; }
.ec-donate:before { content: "\f164"; }
.ec-download:before { content: "\f165"; }
.ec-download-cloud:before { content: "\f166"; }
.ec-drink:before { content: "\f167"; }
.ec-electro-mbile:before { content: "\f168"; }
.ec-electrombile:before { content: "\f169"; }
.ec-email:before { content: "\f16a"; }
.ec-email-o:before { content: "\f16b"; }
.ec-enlarge:before { content: "\f16c"; }
.ec-exchange:before { content: "\f16d"; }
.ec-exchange-guard:before { content: "\f16e"; }
.ec-exchange-guard-o:before { content: "\f16f"; }
.ec-expand:before { content: "\f170"; }
.ec-eye-close:before { content: "\f171"; }
.ec-eye-o:before { content: "\f172"; }
.ec-female:before { content: "\f173"; }
.ec-fire:before { content: "\f174"; }
.ec-fire-o:before { content: "\f175"; }
.ec-flag:before { content: "\f176"; }
.ec-flag-o:before { content: "\f177"; }
.ec-flower:before { content: "\f178"; }
.ec-folder:before { content: "\f179"; }
.ec-folder-o:before { content: "\f17a"; }
.ec-footprint:before { content: "\f17b"; }
.ec-footprints:before { content: "\f17c"; }
.ec-form:before { content: "\f17d"; }
.ec-form-o:before { content: "\f17e"; }
.ec-forward:before { content: "\f17f"; }
.ec-forward-o:before { content: "\f180"; }
.ec-full-screen:before { content: "\f181"; }
.ec-gallery:before { content: "\f182"; }
.ec-gallery-o:before { content: "\f183"; }
.ec-game:before { content: "\f184"; }
.ec-gear:before { content: "\f185"; }
.ec-gear-o:before { content: "\f186"; }
.ec-gear-s:before { content: "\f187"; }
.ec-gear-s-o:before { content: "\f188"; }
.ec-gift:before { content: "\f189"; }
.ec-gift-box:before { content: "\f18a"; }
.ec-gift-box-o:before { content: "\f18b"; }
.ec-gift-card:before { content: "\f18c"; }
.ec-gift-o:before { content: "\f18d"; }
.ec-glasses:before { content: "\f18e"; }
.ec-glasses-legs:before { content: "\f18f"; }
.ec-glasses-legs-o:before { content: "\f190"; }
.ec-glasses-o:before { content: "\f191"; }
.ec-globe:before { content: "\f192"; }
.ec-globe-o:before { content: "\f193"; }
.ec-group:before { content: "\f194"; }
.ec-guard:before { content: "\f195"; }
.ec-guard-o:before { content: "\f196"; }
.ec-hand-bag:before { content: "\f197"; }
.ec-hard-disk:before { content: "\f198"; }
.ec-headset:before { content: "\f199"; }
.ec-headset-o:before { content: "\f19a"; }
.ec-heart:before { content: "\f19b"; }
.ec-heart-o:before { content: "\f19c"; }
.ec-history:before { content: "\f19d"; }
.ec-home:before { content: "\f19e"; }
.ec-home-o:before { content: "\f19f"; }
.ec-html:before { content: "\f1a0"; }
.ec-image:before { content: "\f1a1"; }
.ec-integral:before { content: "\f1a2"; }
.ec-integral-o:before { content: "\f1a3"; }
.ec-key:before { content: "\f1a4"; }
.ec-knot:before { content: "\f1a5"; }
.ec-label:before { content: "\f1a6"; }
.ec-label-o:before { content: "\f1a7"; }
.ec-lbs:before { content: "\f1a8"; }
.ec-lbs-o:before { content: "\f1a9"; }
.ec-lightning:before { content: "\f1aa"; }
.ec-lightning-o:before { content: "\f1ab"; }
.ec-like:before { content: "\f1ac"; }
.ec-like-o:before { content: "\f1ad"; }
.ec-list:before { content: "\f1ae"; }
.ec-list-o:before { content: "\f1af"; }
.ec-list-ul:before { content: "\f1b0"; }
.ec-live:before { content: "\f1b1"; }
.ec-live-o:before { content: "\f1b2"; }
.ec-location-arrow:before { content: "\f1b3"; }
.ec-location-arrow-o:before { content: "\f1b4"; }
.ec-lock:before { content: "\f1b5"; }
.ec-lock-o:before { content: "\f1b6"; }
.ec-male:before { content: "\f1b7"; }
.ec-manage:before { content: "\f1b8"; }
.ec-manage-o:before { content: "\f1b9"; }
.ec-map:before { content: "\f1ba"; }
.ec-map-o:before { content: "\f1bb"; }
.ec-medal:before { content: "\f1bc"; }
.ec-medal-o:before { content: "\f1bd"; }
.ec-medical-kit:before { content: "\f1be"; }
.ec-medical-kit-o:before { content: "\f1bf"; }
.ec-member:before { content: "\f1c0"; }
.ec-member-o:before { content: "\f1c1"; }
.ec-message:before { content: "\f1c2"; }
.ec-message-o:before { content: "\f1c3"; }
.ec-microphone:before { content: "\f1c4"; }
.ec-microphone-o:before { content: "\f1c5"; }
.ec-minus:before { content: "\f1c6"; }
.ec-minus-circle:before { content: "\f1c7"; }
.ec-minus-circle-o:before { content: "\f1c8"; }
.ec-molecule:before { content: "\f1c9"; }
.ec-molecule-o:before { content: "\f1ca"; }
.ec-money-circle:before { content: "\f1cb"; }
.ec-money-circle-o:before { content: "\f1cc"; }
.ec-money-guard:before { content: "\f1cd"; }
.ec-money-guard-o:before { content: "\f1ce"; }
.ec-moon:before { content: "\f1cf"; }
.ec-mouse:before { content: "\f1d0"; }
.ec-movie:before { content: "\f1d1"; }
.ec-movie-o:before { content: "\f1d2"; }
.ec-music:before { content: "\f1d3"; }
.ec-music-o:before { content: "\f1d4"; }
.ec-news:before { content: "\f1d5"; }
.ec-news-o:before { content: "\f1d6"; }
.ec-organization:before { content: "\f1d7"; }
.ec-organization-o:before { content: "\f1d8"; }
.ec-packet:before { content: "\f1d9"; }
.ec-packet-o:before { content: "\f1da"; }
.ec-pant:before { content: "\f1db"; }
.ec-pant-o:before { content: "\f1dc"; }
.ec-paper:before { content: "\f1dd"; }
.ec-paper-o:before { content: "\f1de"; }
.ec-partake:before { content: "\f1df"; }
.ec-partake-o:before { content: "\f1e0"; }
.ec-password:before { content: "\f1e1"; }
.ec-password-o:before { content: "\f1e2"; }
.ec-pause:before { content: "\f1e3"; }
.ec-pause-o:before { content: "\f1e4"; }
.ec-pencil:before { content: "\f1e5"; }
.ec-pencil-o:before { content: "\f1e6"; }
.ec-phone:before { content: "\f1e7"; }
.ec-phone-o:before { content: "\f1e8"; }
.ec-pile:before { content: "\f1e9"; }
.ec-pill:before { content: "\f1ea"; }
.ec-plan:before { content: "\f1eb"; }
.ec-play:before { content: "\f1ec"; }
.ec-play-o:before { content: "\f1ed"; }
.ec-plus:before { content: "\f1ee"; }
.ec-plus-circle:before { content: "\f1ef"; }
.ec-plus-circle-o:before { content: "\f1f0"; }
.ec-points-h:before { content: "\f1f1"; }
.ec-points-v:before { content: "\f1f2"; }
.ec-polyline:before { content: "\f1f3"; }
.ec-polyline-o:before { content: "\f1f4"; }
.ec-power-off:before { content: "\f1f5"; }
.ec-printer:before { content: "\f1f6"; }
.ec-printer-empty:before { content: "\f1f7"; }
.ec-progress:before { content: "\f1f8"; }
.ec-progress-o:before { content: "\f1f9"; }
.ec-purchase:before { content: "\f1fa"; }
.ec-push:before { content: "\f1fb"; }
.ec-qrcode:before { content: "\f1fc"; }
.ec-qrcode-o:before { content: "\f1fd"; }
.ec-rain:before { content: "\f1fe"; }
.ec-rain-o:before { content: "\f1ff"; }
.ec-rank:before { content: "\f200"; }
.ec-rank-o:before { content: "\f201"; }
.ec-recharge:before { content: "\f202"; }
.ec-recharge-circle:before { content: "\f203"; }
.ec-recharge-circle-o:before { content: "\f204"; }
.ec-recharge-o:before { content: "\f205"; }
.ec-restore:before { content: "\f206"; }
.ec-resycle:before { content: "\f207"; }
.ec-ring:before { content: "\f208"; }
.ec-ring-o:before { content: "\f209"; }
.ec-rss:before { content: "\f20a"; }
.ec-scan:before { content: "\f20b"; }
.ec-screen:before { content: "\f20c"; }
.ec-screen-o:before { content: "\f20d"; }
.ec-search:before { content: "\f20e"; }
.ec-search-o:before { content: "\f20f"; }
.ec-seckill:before { content: "\f210"; }
.ec-send:before { content: "\f211"; }
.ec-send-o:before { content: "\f212"; }
.ec-service:before { content: "\f213"; }
.ec-service-1:before { content: "\f214"; }
.ec-service-ring:before { content: "\f215"; }
.ec-setting:before { content: "\f216"; }
.ec-setting-o:before { content: "\f217"; }
.ec-share:before { content: "\f218"; }
.ec-shoe-high-heeled:before { content: "\f219"; }
.ec-shoe-high-heeled-o:before { content: "\f21a"; }
.ec-shoe-sport:before { content: "\f21b"; }
.ec-shoe-sport-o:before { content: "\f21c"; }
.ec-shopping-bag:before { content: "\f21d"; }
.ec-shopping-bag-o:before { content: "\f21e"; }
.ec-shopping-bucket:before { content: "\f21f"; }
.ec-shopping-bucket-o:before { content: "\f220"; }
.ec-shot-glass:before { content: "\f221"; }
.ec-shot-glass-o:before { content: "\f222"; }
.ec-shrink:before { content: "\f223"; }
.ec-skirt:before { content: "\f224"; }
.ec-skirt-o:before { content: "\f225"; }
.ec-smile:before { content: "\f226"; }
.ec-sofa:before { content: "\f227"; }
.ec-sofa-o:before { content: "\f228"; }
.ec-sound:before { content: "\f229"; }
.ec-sound-o:before { content: "\f22a"; }
.ec-specie:before { content: "\f22b"; }
.ec-stack:before { content: "\f22c"; }
.ec-star:before { content: "\f22d"; }
.ec-star-o:before { content: "\f22e"; }
.ec-statistics:before { content: "\f22f"; }
.ec-statistics-o:before { content: "\f230"; }
.ec-store:before { content: "\f231"; }
.ec-store-o:before { content: "\f232"; }
.ec-subway:before { content: "\f233"; }
.ec-sun:before { content: "\f234"; }
.ec-sun-o:before { content: "\f235"; }
.ec-t-shirt:before { content: "\f236"; }
.ec-t-shirt-o:before { content: "\f237"; }
.ec-tableware:before { content: "\f238"; }
.ec-tailor:before { content: "\f239"; }
.ec-task:before { content: "\f23a"; }
.ec-task-o:before { content: "\f23b"; }
.ec-telephone:before { content: "\f23c"; }
.ec-telephone-o:before { content: "\f23d"; }
.ec-text-square:before { content: "\f23e"; }
.ec-th:before { content: "\f23f"; }
.ec-th-o:before { content: "\f240"; }
.ec-ticket:before { content: "\f241"; }
.ec-ticket-o:before { content: "\f242"; }
.ec-tie:before { content: "\f243"; }
.ec-tie-o:before { content: "\f244"; }
.ec-time:before { content: "\f245"; }
.ec-time-active:before { content: "\f246"; }
.ec-time-o:before { content: "\f247"; }
.ec-times-circle-o:before { content: "\f248"; }
.ec-translation:before { content: "\f249"; }
.ec-trash:before { content: "\f24a"; }
.ec-trash-o:before { content: "\f24b"; }
.ec-treasure:before { content: "\f24c"; }
.ec-trophy:before { content: "\f24d"; }
.ec-trophy-o:before { content: "\f24e"; }
.ec-trunk:before { content: "\f24f"; }
.ec-trunk-o:before { content: "\f250"; }
.ec-umbrella:before { content: "\f251"; }
.ec-umbrella-o:before { content: "\f252"; }
.ec-undo:before { content: "\f253"; }
.ec-upload:before { content: "\f254"; }
.ec-upload-cloud:before { content: "\f255"; }
.ec-uploading:before { content: "\f256"; }
.ec-user:before { content: "\f257"; }
.ec-user-2:before { content: "\f258"; }
.ec-user-active:before { content: "\f259"; }
.ec-user-add:before { content: "\f25a"; }
.ec-user-check:before { content: "\f25b"; }
.ec-user-circle:before { content: "\f25c"; }
.ec-user-circle-o:before { content: "\f25d"; }
.ec-user-o:before { content: "\f25e"; }
.ec-vehicle:before { content: "\f25f"; }
.ec-video:before { content: "\f260"; }
.ec-video-camera:before { content: "\f261"; }
.ec-video-camera-o:before { content: "\f262"; }
.ec-video-o:before { content: "\f263"; }
.ec-voice:before { content: "\f264"; }
.ec-voice-tube:before { content: "\f265"; }
.ec-volume-off:before { content: "\f266"; }
.ec-volume-off-o:before { content: "\f267"; }
.ec-volume-up:before { content: "\f268"; }
.ec-volume-up-o:before { content: "\f269"; }
.ec-wallet:before { content: "\f26a"; }
.ec-wallet-o:before { content: "\f26b"; }
.ec-warning:before { content: "\f26c"; }
.ec-warning-o:before { content: "\f26d"; }
.ec-water-drop:before { content: "\f26e"; }
.ec-water-drop-o:before { content: "\f26f"; }
.ec-weather:before { content: "\f270"; }
.ec-wechat:before { content: "\f271"; }
.ec-wechat-pay:before { content: "\f272"; }
.ec-weibo:before { content: "\f273"; }
.ec-weixin:before { content: "\f274"; }
.ec-wifi:before { content: "\f275"; }
.ec-wind:before { content: "\f276"; }
.ec-window:before { content: "\f277"; }
.ec-window-o:before { content: "\f278"; }
.ec-wine-glass:before { content: "\f279"; }
.ec-wine-glass-o:before { content: "\f27a"; }
.ec-workbench:before { content: "\f27b"; }
.ec-workbench-o:before { content: "\f27c"; }
.ec-zhilacloud:before { content: "\f27d"; }
